body {
  background-color: #078ff0;
}

.content .form-container {
  background: transparent;
}

.header {
  background: transparent;
  position: relative;
}

.header::after {
  content: "App Name";
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 40%;
  font-size: 24px;
  font-family: Arial;
  text-transform: uppercase;
  color: #fff;
}

.header::before {
  content: "";
  background: url('./sponge.png') no-repeat center center;
  margin-right: 10px;
  width: 28px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.title .app-name, .title .dev-name,
.footer > .toggle-text {
  color: #fff;
}

#auth-form input[type="submit"] {
  border: 1px solid #616161;
}
